version: '3.8'

services:
  spring-app:
    build: .
    container_name: spring-boot-docker-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: unless-stopped
